#
# exclude all dot files except .gitignore
# 排除所有.文件 .gitignore除外
# .gitignore文件不排除
# 
###############################################################################
.*
!.gitignore
!.gitattributes

# 
# 生成文件
# 
###############################################################################
*.ilk
*.obj
*.log
*.tlb
*.tlog
*.tlh
*.exp
*.pdb
*.idb
*.pch
*.lastbuildstate
*.manifest
bin/*/*/*.rc
bin/*/*/*.res
*_[Ii].[Cc]
*_[Ii].[Hh]
*_[Pp].[Cc]
*_[Pp].[Hh]
*.opensdf
*.dll
*.lib
*.exe
*.unsuccessfulbuild
*.cache
*.tli
*.inf
*.chw

!MySqlDbEngine/MySql/lib/mysqlclient.lib
!MySqlDbEngine/MySql/lib/libmysql.dll
!MySqlDbEngine/MySql/lib/mysqlpp_excommon.lib
!MySqlDbEngine/MySql/lib/mysqlpp.lib
!MySqlDbEngine/MySql/lib/mysqlpp.dll
!MySqlDbEngine/MySql/lib/libmysql.lib

!MsXmlEngine/msxml/msxml4.dll
!MsXmlEngine/msxml/msxml4.inf
!MsXmlEngine/msxml/msxml4a.dll
!MsXmlEngine/msxml/msxml4r.dll
!MsXmlEngine/msxml/msxml6.dll
!MsXmlEngine/msxml/msxml6r.dll
# 
# VS工程文件
# 
###############################################################################
*.aps
*.sdf
*.user
ipch
